<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Survey Dataset Exploration Lab**

Estimated time needed: **30** minutes

## Objectives

After completing this lab you will be able to:

-   Load the dataset that will used thru the capstone project.
-   Explore the dataset.
-   Get familier with the data types.

## Load the dataset

Import the required libraries.

In [8]:
import pandas as pd

The dataset is available on the IBM Cloud at the below url.

In [9]:
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

Load the data available at dataset_url into a dataframe.

In [10]:
# your code goes here
df = pd.read_csv(dataset_url)

## Explore the data set

It is a good idea to print the top 5 rows of the dataset to get a feel of how the dataset will look.

Display the top 5 rows and columns from your dataset.

In [11]:
# your code goes here

print(df.head())

   Respondent                      MainBranch Hobbyist  \
0           4  I am a developer by profession       No
1           9  I am a developer by profession      Yes
2          13  I am a developer by profession      Yes
3          16  I am a developer by profession      Yes
4          17  I am a developer by profession      Yes

                                         OpenSourcer  \
0                                              Never
1                         Once a month or more often
2  Less than once a month but more than once per ...
3                                              Never
4  Less than once a month but more than once per ...

                                          OpenSource          Employment  \
0  The quality of OSS and closed source software ...  Employed full-time
1  The quality of OSS and closed source software ...  Employed full-time
2  OSS is, on average, of HIGHER quality than pro...  Employed full-time
3  The quality of OSS and closed source software ...  Employed full-time
4  The quality of OSS and closed source software ...  Employed full-time

          Country Student                                            EdLevel  \
0   United States      No           Bachelor’s degree (BA, BS, B.Eng., etc.)
1     New Zealand      No  Some college/university study without earning ...
2   United States      No        Master’s degree (MA, MS, M.Eng., MBA, etc.)
3  United Kingdom      No        Master’s degree (MA, MS, M.Eng., MBA, etc.)
4       Australia      No           Bachelor’s degree (BA, BS, B.Eng., etc.)

                                      UndergradMajor  ...  \
0  Computer science, computer engineering, or sof...  ...
1  Computer science, computer engineering, or sof...  ...
2  Computer science, computer engineering, or sof...  ...
3                                                NaN  ...
4  Computer science, computer engineering, or sof...  ...

                              WelcomeChange  \
0   Just as welcome now as I felt last year
1   Just as welcome now as I felt last year
2  Somewhat more welcome now than last year
3   Just as welcome now as I felt last year
4   Just as welcome now as I felt last year

                                        SONewContent   Age Gender Trans  \
0  Tech articles written by other developers;Indu...  22.0    Man    No
1                                                NaN  23.0    Man    No
2  Tech articles written by other developers;Cour...  28.0    Man    No
3  Tech articles written by other developers;Indu...  26.0    Man    No
4  Tech articles written by other developers;Indu...  29.0    Man    No

                 Sexuality                              Ethnicity Dependents  \
0  Straight / Heterosexual           White or of European descent         No
1                 Bisexual           White or of European descent         No
2  Straight / Heterosexual           White or of European descent        Yes
3  Straight / Heterosexual           White or of European descent         No
4  Straight / Heterosexual  Hispanic or Latino/Latina;Multiracial         No

            SurveyLength                  SurveyEase
0  Appropriate in length                        Easy
1  Appropriate in length  Neither easy nor difficult
2  Appropriate in length                        Easy
3  Appropriate in length  Neither easy nor difficult
4  Appropriate in length                        Easy

[5 rows x 85 columns]

## Find out the number of rows and columns

Start by exploring the numbers of rows and columns of data in the dataset.

Print the number of rows in the dataset.

In [12]:
# your code goes here
num_rows = len(df)
print(f"The dataset has {num_rows} rows.")

The dataset has 11552 rows.

Print the number of columns in the dataset.

In [13]:
# your code goes here
num_cols = len(df.columns)
print(f"The dataset has {num_cols} columns.")

The dataset has 85 columns.

## Identify the data types of each column

Explore the dataset and identify the data types of each column.

Print the datatype of all columns.

In [28]:
# your code goes here
for col in df.columns:
  print(f"{col}: {df[col].dtype}")

Respondent: int64
MainBranch: object
Hobbyist: object
OpenSourcer: object
OpenSource: object
Employment: object
Country: object
Student: object
EdLevel: object
UndergradMajor: object
EduOther: object
OrgSize: object
DevType: object
YearsCode: object
Age1stCode: object
YearsCodePro: object
CareerSat: object
JobSat: object
MgrIdiot: object
MgrMoney: object
MgrWant: object
JobSeek: object
LastHireDate: object
LastInt: object
FizzBuzz: object
JobFactors: object
ResumeUpdate: object
CurrencySymbol: object
CurrencyDesc: object
CompTotal: float64
CompFreq: object
ConvertedComp: float64
WorkWeekHrs: float64
WorkPlan: object
WorkChallenge: object
WorkRemote: object
WorkLoc: object
ImpSyn: object
CodeRev: object
CodeRevHrs: float64
UnitTests: object
PurchaseHow: object
PurchaseWhat: object
LanguageWorkedWith: object
LanguageDesireNextYear: object
DatabaseWorkedWith: object
DatabaseDesireNextYear: object
PlatformWorkedWith: object
PlatformDesireNextYear: object
WebFrameWorkedWith: object
WebFrameDesireNextYear: object
MiscTechWorkedWith: object
MiscTechDesireNextYear: object
DevEnviron: object
OpSys: object
Containers: object
BlockchainOrg: object
BlockchainIs: object
BetterLife: object
ITperson: object
OffOn: object
SocialMedia: object
Extraversion: object
ScreenName: object
SOVisit1st: object
SOVisitFreq: object
SOVisitTo: object
SOFindAnswer: object
SOTimeSaved: object
SOHowMuchTime: object
SOAccount: object
SOPartFreq: object
SOJobs: object
EntTeams: object
SOComm: object
WelcomeChange: object
SONewContent: object
Age: float64
Gender: object
Trans: object
Sexuality: object
Ethnicity: object
Dependents: object
SurveyLength: object
SurveyEase: object

Print the mean age of the survey participants.

In [ ]:
# your code goes here

mean_age = df['Age'].mean()

print(f"The mean age of the survey participants is: {mean_age}")

The mean age of the survey participants is: 30.77239449133718

str

The dataset is the result of a world wide survey. Print how many unique countries are there in the Country column.

In [18]:
# your code goes here
unique_countries = df['Country'].nunique()

print(f"There are {unique_countries} unique countries in the survey.")

There are 135 unique countries in the survey.

In [ ]:
# I added this cell 
countries_list = df['Country'].unique()

print(countries_list)

['United States' 'New Zealand' 'United Kingdom' 'Australia' 'Brazil'
 'Lithuania' 'Israel' 'South Africa' 'Czech Republic' 'Spain' 'Germany'
 'Serbia' 'India' 'Sweden' 'China' 'France' 'Netherlands' 'Philippines'
 'Ireland' 'Pakistan' 'Austria' 'Canada' 'Croatia' 'Italy'
 'Russian Federation' 'Argentina' 'Romania' 'Iran' 'Hungary' 'Latvia'
 'Hong Kong (S.A.R.)' 'United Arab Emirates' 'Poland' 'Portugal'
 'Bulgaria' 'Nicaragua' 'Denmark' 'Japan' 'Guatemala' 'Bangladesh'
 'Ukraine' 'Mexico' 'Egypt' 'Switzerland' 'Mauritius' 'South Korea'
 'Slovenia' 'Estonia' 'Norway' 'Singapore' 'Republic of Moldova' 'Belgium'
 'Nigeria' 'Turkey' 'Thailand' 'Mongolia' 'Chile' 'Malaysia' 'Georgia'
 'Luxembourg' 'Dominican Republic' 'Cape Verde' 'Burundi' 'Finland'
 'Greece' 'Colombia' 'Taiwan' 'Yemen' 'Indonesia' 'Belarus' 'Slovakia'
 'Nepal' 'Kenya' 'Venezuela, Bolivarian Republic of...' 'Armenia' 'Panama'
 'Lebanon' 'Kuwait' 'Algeria' "Côte d'Ivoire" 'Bosnia and Herzegovina'
 'Brunei Darussalam' 'Costa Rica' 'Jordan' 'Zimbabwe' 'Ecuador' 'Albania'
 'Azerbaijan' 'Other Country (Not Listed Above)' 'Uzbekistan'
 'The former Yugoslav Republic of Macedonia' 'Sri Lanka' 'Ghana'
 'Paraguay' 'Peru' 'Viet Nam' 'Malta' 'Rwanda' 'El Salvador' 'Uruguay'
 'Tunisia' 'Bolivia' 'Honduras' 'Liechtenstein' 'Qatar' 'Cameroon'
 'Turkmenistan' 'Kyrgyzstan' 'Somalia' 'Republic of Korea' 'Cuba'
 'Montenegro' 'Monaco' 'Cyprus' 'Uganda' 'Senegal' 'Syrian Arab Republic'
 'Morocco' 'Ethiopia' 'United Republic of Tanzania' 'Iceland' 'Swaziland'
 'Congo, Republic of the...' 'Saudi Arabia' 'Afghanistan' 'Bahrain'
 'Timor-Leste' 'Jamaica' 'Myanmar' 'Sudan' 'Libyan Arab Jamahiriya' 'Togo'
 'Cambodia' 'Mozambique' 'Iraq']

In [21]:
countries_list = df['Country'].unique()
countries_list.sort()

print(countries_list)

['Afghanistan' 'Albania' 'Algeria' 'Argentina' 'Armenia' 'Australia'
 'Austria' 'Azerbaijan' 'Bahrain' 'Bangladesh' 'Belarus' 'Belgium'
 'Bolivia' 'Bosnia and Herzegovina' 'Brazil' 'Brunei Darussalam'
 'Bulgaria' 'Burundi' 'Cambodia' 'Cameroon' 'Canada' 'Cape Verde' 'Chile'
 'China' 'Colombia' 'Congo, Republic of the...' 'Costa Rica' 'Croatia'
 'Cuba' 'Cyprus' 'Czech Republic' "Côte d'Ivoire" 'Denmark'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Estonia' 'Ethiopia'
 'Finland' 'France' 'Georgia' 'Germany' 'Ghana' 'Greece' 'Guatemala'
 'Honduras' 'Hong Kong (S.A.R.)' 'Hungary' 'Iceland' 'India' 'Indonesia'
 'Iran' 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan'
 'Kenya' 'Kuwait' 'Kyrgyzstan' 'Latvia' 'Lebanon' 'Libyan Arab Jamahiriya'
 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Malaysia' 'Malta' 'Mauritius'
 'Mexico' 'Monaco' 'Mongolia' 'Montenegro' 'Morocco' 'Mozambique'
 'Myanmar' 'Nepal' 'Netherlands' 'New Zealand' 'Nicaragua' 'Nigeria'
 'Norway' 'Other Country (Not Listed Above)' 'Pakistan' 'Panama'
 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal' 'Qatar'
 'Republic of Korea' 'Republic of Moldova' 'Romania' 'Russian Federation'
 'Rwanda' 'Saudi Arabia' 'Senegal' 'Serbia' 'Singapore' 'Slovakia'
 'Slovenia' 'Somalia' 'South Africa' 'South Korea' 'Spain' 'Sri Lanka'
 'Sudan' 'Swaziland' 'Sweden' 'Switzerland' 'Syrian Arab Republic'
 'Taiwan' 'Thailand' 'The former Yugoslav Republic of Macedonia'
 'Timor-Leste' 'Togo' 'Tunisia' 'Turkey' 'Turkmenistan' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United Republic of Tanzania'
 'United States' 'Uruguay' 'Uzbekistan'
 'Venezuela, Bolivarian Republic of...' 'Viet Nam' 'Yemen' 'Zimbabwe']

In [ ]:
countries_list = df['Country'].unique()

if 'Uruguay' in countries_list:
    print("Yes, Uruguay is in the list of countries") 
else:
    print("Nop, Uruguay isn't in this list.")

Yes, Uruguay it's in the list of countries

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).